extends ./layout

block content
    .header
        //LOGO
        .float-right.btns
            a(href='logout') Logout
    .container
        h1 Welcome !{name}
        if rooms
            table.table.table-striped.table-hover
                thead
                    tr
                        th URL
                        th Room Name
                        th Room Description
                        th Number of Submissions
                tbody
                    each room in rooms
                        tr
                            td
                                a(href='/room/#{room.path}') /#{room.path}
                            td #{room.name}
                            td #{room.desc}
                            td #{room.submissions.length}

block script
    script(type='text/javascript' src='javascripts/dashboard.js')


